<section class="hm-footer">
  <div class="container">
    <div class="hm-footer-details">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="hm-footer-widget">
            <div class="hm-foot-title ">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/images/logo/c.png" alt="logo" />
                </a>
              </div><!-- /.logo-->
            </div><!--/.hm-foot-title-->
            <div class="hm-foot-para">
              <p>
                Les services de réparation et de travaux .
              </p>
            </div><!--/.hm-foot-para-->
            <div class="hm-foot-icon">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
              </ul><!--/ul-->
            </div><!--/.hm-foot-icon-->
          </div><!--/.hm-footer-widget-->
        </div><!--/.col-->
        <div class=" col-md-2 col-sm-6 col-xs-12">
          <div class="hm-footer-widget">
            <div class="hm-foot-title">
              <h4>Useful Links</h4>
            </div><!--/.hm-foot-title-->
            <div class="footer-menu ">
              <ul class="">
                <li><a href="index.html" >Home</a></li>
                <li><a href="about.html">à propos de Nous</a></li>
                <li><a href="services.html">Service</a></li>
                <li><a href="portfolio.html">Nos Bricoleurs</a></li>
                <li><a href="blog.html">Nos Partenaires</a></li>
                <li><a href="contact.html">Contact us</a></li>
              </ul>
            </div><!-- /.footer-menu-->
          </div><!--/.hm-footer-widget-->
        </div><!--/.col-->
        <div class=" col-md-3 col-sm-6 col-xs-12">
          <div class="hm-footer-widget">
            <div class="hm-foot-title">
              <h4>from the news</h4>
            </div><!--/.hm-foot-title-->
            <div class="hm-para-news">
              <a href="blog_single.html">
                Les services de réparation et de travaux
              </a>
              <span>2022/2023</span>
            </div><!--/.hm-para-news-->
            <div class="footer-line">
              <div class="border-bottom"></div>
            </div>
            <div class="hm-para-news">
              <a href="blog_single.html">
                Les services de réparation et de travaux .
              </a>
              <span>2022/2023</span>
            </div><!--/.hm-para-news-->
          </div><!--/.hm-footer-widget-->
        </div><!--/.col-->
        <div class=" col-md-3 col-sm-6  col-xs-12">
          <div class="hm-footer-widget">
            <div class="hm-foot-title">
              <h4> Our Newsletter</h4>
            </div><!--/.hm-foot-title-->
            <div class="hm-foot-para">
              <p class="para-news">
                Subscribe to our newsletter to get the latest News and offers..
              </p>
            </div><!--/.hm-foot-para-->
            <div class="hm-foot-email">
              <div class="foot-email-box">
                <input type="text" class="form-control" placeholder="Email Address">
              </div><!--/.foot-email-box-->
              <div class="foot-email-subscribe">
                <button type="button" >go</button>
              </div><!--/.foot-email-icon-->
            </div><!--/.hm-foot-email-->
          </div><!--/.hm-footer-widget-->
        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.hm-footer-details-->
  </div><!--/.container-->
</section>
