<section id="home"  class="header">
  <div class="container">
    <div class="header-left">
      <ul class="pull-left">

        <li>
          <a href="#">
            <i class="fa fa-phone" aria-hidden="true"></i> +212600000
          </a>

        </li><!--/li-->
        <li>
          <a href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i>brico@mail.com
          </a>

        </li><!--/li-->
      </ul><!--/ul-->
    </div><!--/.header-left -->
    <div class="header-right pull-right">
      <ul>
        <li >


          <!-- small modal -->
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                          <i class="fa fa-close"></i>
                        </span>
                  </button>


                </div>
              </div>
            </div>
          </div>

          <!-- large modal -->
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">
                         <i class="fa fa-close"></i>
                       </span>
                  </button>

                </div>
              </div>
            </div>
          </div>
        </li> <!--/li -->
        <li>
          <div class="social-icon">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul><!--/.ul -->
          </div><!--/.social-icon -->
        </li><!--/li -->
      </ul><!--/ul -->
    </div><!--/.header-right -->
  </div><!--/.container -->

</section>


<div class="service-content-two">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="service-single text-center">
        <div class="service-img">
          <img src="assets/images/service/lamp_icon-icons.com_76965.png" alt="image of service" />
        </div><!--/.service-img-->
        <div class="service-txt">
          <h2>
            <a href="https://calendly.com/faricha-casa/electricite">Électricité</a>
          </h2>
          <p>
            Durée : 1h00 - 1h30<br>
            à partir de 300 Dhs
          </p>
          <a href="https://calendly.com/faricha-casa/electricite" class="service-btn">
            learn more
          </a>
        </div><!--/.service-txt-->
      </div><!--/.service-single-->
    </div><!--/.col-->
    <div class="col-sm-4 col-xs-12">
      <div class="service-single text-center">
        <div class="service-img">
          <img src="assets/images/service/wallpaper_wall_deco_icon_209769.png" alt="image of service" />
        </div><!--/.service-img-->
        <div class="service-txt">
          <h2>
            <a href="https://calendly.com/faricha-casa/peinture-et-papier-peint">Peinture et papier peint
            </a>
          </h2>
          <p>
            Durée : 1h00 - 1h30<br>
            à partir de 300 Dhs
          </p>
          <a href="https://calendly.com/faricha-casa/peinture-et-papier-peint" class="service-btn">
            learn more
          </a>
        </div><!--/.service-txt-->
      </div><!--/.service-single-->
    </div><!--/.col-->
    <div class="col-sm-4 col-xs-12">
      <div class="service-single text-center">
        <div class="service-img">
          <img src="assets/images/service/ac_air_conditioning_cold_warm_appliance_icon_196773.png" alt="image of service" />
        </div><!--/.service-img-->
        <div class="service-txt">
          <h2>
            <a href="https://calendly.com/faricha-casa/climatisation">Climatisation</a>
          </h2>
          <p>
            Durée : 1h00 - 1h30<br>
            à partir de 300 Dhs
          </p>
          <a href="https://calendly.com/faricha-casa/climatisation" class="service-btn">
            learn more
          </a>
        </div><!--/.service-txt-->
      </div><!--/.service-single-->
    </div><!--/.col-->
  </div><!--/.row-->
</div>
<div class="service-content-one">
  <div class="row">
    <!--/.col-->
    <div class="col-sm-4 col-xs-12">
      <div class="service-single text-center">
        <div class="service-img">
          <img src="assets/images/service/plumbing_16820.png" alt="image of service" />
        </div><!--/.service-img-->
        <div class="service-txt">
          <h2>
            <a href="/ville">Plomberie</a>
          </h2>
          <p>
            Durée : 2h00 - 3h30<br>
            à partir de 200 Dhs
          </p>
          <a href="/ville" class="service-btn">
            learn more
          </a>
        </div><!--/.service-txt-->
      </div><!--/.service-single-->
    </div><!--/.col-->
    <!--/.col-->
  </div><!--/.row-->
</div>
<app-footer></app-footer>
